@import 'vars';
@import 'global';
@import 'fonts';
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}

.btn_login {
    padding: 4px;
    width: 72px;
    background-color: $green;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
}

.btn_register {
    background-color: $red;
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    margin-left: 7px;
}

.header__bottom {
    background-color: $bg;
    .menu {
        display: flex;
        align-items: center;
        height: 60px;
    }
}

.menu__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}